:root {
  --font-mono: 'iA Quattro', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  --font-body: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,*:before,*:after {
  box-sizing: inherit;
}
html,body {
  width: 100%;
  height: 100%;
}
body {
  font-size: var(--text-base);
  background-color: var(--grey0);
  color: var(--grey900);
  font-family: var(--font-mono);
  overscroll-behavior-x: none;
  @media screen and (max-width: var(--breakpoint-1080)) {
    font-size: var(--text-sm);
  }
}
::selection {
  background: var(--primaryTransparent);
}
code {
  font-family: var(--font-mono);
}
button, select, input, textarea {
  color: inherit;
  font-family: inherit;
  touch-action: manipulation;
  &:active, &:focus {
    outline: 0;
    -webkit-tap-highlight-color: transparent;
  }
}
h1,h2,h3 {
  letter-spacing: -.06rem;
  font-weight: 900;
}

h4,h5,h6 {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: var(--space-4);
  margin-top: var(--space-4);
  word-wrap: break-word;
  font-family: var(--font-body);
  font-weight: 900;
}